@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap");

:root {
  /* Primary */
  --darkCyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);
  /* Neutral */
  --veryDarkBlue: hsl(212, 21%, 14%);
  --darkGrayishBlue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
}

.main-container {
  min-height: 100vh;
  min-width: 100vw;
  background-color: var(--cream);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  height: 450px;
  width: 616px;
  background-color: var(--white);
  display: flex;
  border-radius: 0.5rem;
}

.container .thumbnail {
  width: 50%;
  background-image: url(./images/image-product-desktop.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.container .product-detail {
  width: 50%;
  padding: 2rem;
}

.container .product-detail p {
  font-size: 14px;
}

.container .product-detail .product-type {
  color: var(--darkGrayishBlue);
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 1.25rem;
  letter-spacing: 4px;
  opacity: 0.8;
}

.container .product-detail .product-name {
  font-family: "Fraunces", serif;
  font-weight: 700;
  font-size: 2.3rem;
  margin-bottom: 1.25rem;
  line-height: 1;
}

.container .product-detail .product-desc {
  color: var(--darkGrayishBlue);
  margin-bottom: 1.25rem;
  opacity: 0.8;
}

.container .product-detail .product-price {
  margin-bottom: 1.25rem;
  display: flex;
  align-items: center;
}

.container .product-detail .product-price .actual-price {
  display: inline-block;
  font-family: "Fraunces", serif;
  font-size: 2rem;
  color: var(--darkCyan);
}

.container .product-detail .product-price .discounted-price {
  margin-left: 1rem;
  display: inline-block;
  color: var(--darkGrayishBlue);
  text-decoration: line-through;
  opacity: 0.8;
}

.container .product-detail a {
  display: block;
  text-decoration: none;
  color: var(--white);
  background-color: var(--darkCyan);
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 500;
  text-align: center;
  display: flex;
  justify-content: center;
  justify-items: baseline;
  transition: background-color 0.25s ease-in-out;
}

.container .product-detail a .icon-cart {
  margin-right: 8px;
}

.container .product-detail a:hover {
  background-color: var(--veryDarkBlue);
}

@media (max-width: 766px) {
  .container {
    height: 588px;
    width: 324px;
    flex-direction: column;
  }

  .container .thumbnail {
    height: 40%;
    width: 100%;
    background-image: url(./images/image-product-mobile.jpg);
    border-radius: 0.5rem 0.5rem 0rem 0rem;
  }

  .container .product-detail {
    height: 60%;
    width: 100%;
    padding: 1.3rem;
  }

  .container .product-detail .product-type {
    margin-bottom: 1.25rem;
  }

  .container .product-detail .product-name {
    font-size: 1.75rem;
    margin-bottom: 1.25rem;
  }

  .container .product-detail .product-desc {
    margin-bottom: 1.25rem;
    font-size: 13px;
  }

  .container .product-detail .product-price {
    margin-bottom: 1.25rem;
  }
}

@media (max-width: 375px) {
  .container {
    height: 604px;
    width: 344px;
  }

  .container .product-detail {
    padding: 1.5rem;
  }

  .container .product-detail .product-name {
    font-size: 2rem;
  }

  .container .product-detail .product-desc {
    font-size: 0.88rem;
  }
}
